name: CI

on:
  push:
    branches: ["**"]
  pull_request:
    branches: ["**"]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Debug - list files
        run: |
          pwd
          ls -la
          echo "---- task2 ----"
          ls -la task2 || true

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: "17"
          cache: gradle

      - name: Build (Gradle Wrapper)
        run: |
          cd task2
          chmod +x gradlew
          ./gradlew clean build
